<div class="page-header row">
    <h1>
        <div gravatar email="{{contact.email}}" size="50" class="img-circle"></div>{{contact.name}}
    </h1>
</div>
<div class="form-horizontal">
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label for="name" class="col-sm-4 control-label">Imię i nazwisko</label>
                <div class="col-sm-8">
                    <p class="form-control-static" editable="contact.name" field-type="text"></p>
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-4 control-label">Numer telefonu</label>
                <div class="col-sm-8">
                    <p class="form-control-static" editable="contact.phone" field-type="text"></p>
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-4 control-label">Adres</label>
                <div class="col-sm-8">
                    <p class="form-control-static" editable="contact.address" field-type="textarea"></p>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label for="name" class="col-sm-4 control-label">Adres e-mail</label>
                <div class="col-sm-8">
                    <p class="form-control-static" editable="contact.email" field-type="email"></p>
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-4 control-label">Strona WWW</label>
                <div class="col-sm-8">
                    <p class="form-control-static" editable="contact.website" field-type="text"></p>
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-4 control-label">Uwagi</label>
                <div class="col-sm-8">
                    <p class="form-control-static" editable="contact.notes" field-type="textarea"></p>
                </div>
            </div>
        </div>
    </div>
</div>